<div class='post'>
    <div class='post-title-info'>
        <a href="/post/{{id}}">
            <h3 class='post-title'>{{post_title}}</h3>
        </a>
        <h4>by {{user.username}} on {{format_date createdAt}}</h4>
    </div>
    <p>{{post_contents}}</p>
</div>